.jumbotron {
  background-image: url("../images/comic_books.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 7%;
  margin-bottom: 2px;
  background-blend-mode: multiply;
  background-color: tomato;
  color: white;
  
}

.container-fluid {
  
  background-image: url("../images/marvelbackground2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: red;
  height: 100%;
 
}

.title {
  font-weight: bold !important;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  
}

.card-body-3 {
  height: 200px;
  overflow: auto;
}

.card-body {
  height: 200px;
  overflow: auto;
  
}

.card-header {
  font-weight: bolder;
  color: white;
  background-image: url("../images/comic_books.jpg");
  background-attachment: fixed;
  background-blend-mode: multiply;
  background-color: tomato;
  text-align: center;
  font-family: 'Bangers', cursive;
  letter-spacing: 2px;
  font-size: 20px;
  
}

.card-image-top {
  height: 50px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

#character-name {
  font-weight: bold;
  font-size: x-large;
}

.image-2{
  width: 100%;
  height: 100%;
  
}
.card-body-3, .card-body, .card-body-4 {
  background-image: url("../images/comicbookpaper.jpg");
   background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Bitter', serif;
}

.btnSize{
  font-size: 14px;
  
}

.lead{
  font-family: 'Bitter', serif;
}

.btnHover:hover, .btnHover:active {
	background: darkred;
  color: whitesmoke;
  top: 1px;
  left: 1px;
  box-shadow: 2px 2px black;

}
.btn{
  box-shadow: 3px 3px black;
  position: relative;
  left: 0;
  top: 0;
}

.shadow{
  color: white;
  text-shadow: 4px 4px 6px black;
}

@media screen and (max-width: 965px) {
  #right-card {
    margin-left: 10px;
  }
}
@media screen and (max-width: 575px) {
  #submit-button {
    margin-top: 5px;
    justify-content: center;
  }
 
}

@media screen and (max-width: 767px) {
  #char-image {
    height: 300px;
    width: 300px;
  }
  #first-issue-cover {
    height: 300px;
    width: 300px;
  }
}

#char-image {
  height: 200px;
  
}

#firt-issue-cover {
  height: 200px;
}

